

<section class="testimonial">
  <div class="container">

    <div class="row">
      <div class="section-title text-center">
       <h2>Longstanding Congregation in Canandaigua</h2>
       <p>The United Church has a long history in the community of Canandaigua. </p>
       <p>In a world that is quicky changing, The United Church values the stability and tradition.</p>
      </div>
    </div>

    <div class="row counter-box text-center mt-50">

        <!-- Baptist Church -->
        <div class="col-md-2">
        <div class="counter-item">
        <i class="fas fa-church"></i>
        <h4 class="count" data-count="{{ sub now.Year 1835 }}">0</h4>
        <span>Years as a Baptist Church</span>
        </div>
        </div>

        <!-- Presbyterian Church -->
        <div class="col-md-2">
        <div class="counter-item">
        <i class="fas fa-church"></i>
        <h4 class="count" data-count="{{ sub now.Year 1870 }}">0</h4>
        <span>Years as a Presbyterian Church</span>
        </div>
        </div>

        <!-- Building Church -->
        <div class="col-md-2">
        <div class="counter-item">
        <i class="fas fa-place-of-worship"></i>
        <h4 class="count" data-count="{{ sub now.Year 1872 }}">0</h4>
        <span>Years in our Current Building</span>
        </div>
        </div>

        <!-- United Church -->
        <div class="col-md-2">
        <div class="counter-item">
        <i class="fas fa-place-of-worship"></i>
        <h4 class="count" data-count="{{ sub now.Year 1950 }}">0</h4>
        <span>Years as a United Church</span>
        </div>
        </div>

        <!-- Pastors -->
        <div class="col-md-2">
        <div class="counter-item">
        <i class="fas fa-user"></i>
        <h4 class="count" data-count="3">0</h4>
        <span>Number of Pastors in the Last Six Decades</span>
        </div>
        </div>

        <!-- Youth Club -->
        <div class="col-md-2">
        <div class="counter-item">
        <i class="fas fa-child"></i>
        <h4 class="count" data-count="{{ sub now.Year 1966 }}">0</h4>
        <span>Number of Years Providing Youth Club</span>
        </div>
        </div>

    </div>

  </div>
</section>

